MONGODB_URL=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/covid_health_assistant?appName=Cluster0
DB_NAME=covid_health_assistant

#model configuration
LLM_MODEL=Qwen/Qwen2.5-0.5B-Instruct
USE_GPU=false
#API setting
HOST=0.0.0.0
PORT=8000
